.header {
  color: #556600;
  border-bottom-color: #778833;
  border-bottom-style: solid;
}
.skills{
  background-color: #black;
  color: hotpink;
}
.tagline{
  background-color: #FF5733;
  color: #1ABC9C;
}
