.header {
  color: #556600;
  border-bottom-color: #778833;
  border-bottom-style: solid;
  text-align: center;
}
.skills{
  background-color: #black;
  color: hotpink;
  display: inline;
  border-bottom-style: solid;
  border-bottom-width: 7px;
  border-bottom-color; hot pink;
}
.tagline{
  background-color: #D5D8DC;
  color: #1ABC9C;
  padding: 20px;
  margin: 15px 15px 15px 15px;
  border-style: ridge;
  border-color: #D5D8DC;
  border-width: 5px;
}
.rabbit {
  color: #7AF0B2;
  background-color: #F0ED7A;
  padding: 50px;
  margin: 15px;
  text-align: center;
  align-items: center;
}
.picture {
  text-align: center;
  font-style: italic;
  font-family: fantasy;
  font-variant-caps: small-caps;
  font-size-adjust: auto;
  font-size: 66px;
  border-style: groove;
  border-width: thick;
  border-color: #7DF07A;
}
.rabbitfriend {
  align-items: center;
}
.franz {
  background-color: #FF8800;
}
.dinosaurfacts {
  align-items: right;
  background-color: #D5D8DC;
  color: darkred;
}
ol {
  color: orange;
}
