.header {
  color: #556600;
  border-bottom-color: #778833;
  border-bottom-style: solid;
}
.skills{
  background-color: #black;
  color: hotpink;
}
.tagline{
  background-color: #D5D8DC;
  color: #1ABC9C;
  padding: 20px;
  margin: 15px 15px 15px 15px;
  border-style: ridge;
  border-color: #D5D8DC;
  border-width: 5px;
}
