.header {
  color: #556600;
  border-bottom-color: #778833;
  border-bottom-style: solid;
}
.skills{
  background-color: #black;
  color: hotpink;
}
.tagline{
  background-color: #D5D8DC;
  color: #1ABC9C;
  margin: 15px 15px 15px 15px;
  border: 5px 5px 5px 5px:
  border-color: #D5D8DC;
}
